@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Aladin&family=Bebas+Neue&family=Fredoka+One&family=Kaushan+Script&family=Monoton&family=Pacifico&family=Pattaya&family=Roboto:ital,wght@1,900&family=Suez+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgcolor: #000000cc;
  --bgcolor2: #fff;
  --seccolor: #5a5c5b;
  --maincolor: #01b3ff;
  --second: #09000e;
  --third: #380202;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;
  --bganimation: black;
  --bgback: #4b99e151;
  --bgback12: #75d1f919;
  --hover: black;
  --skillsec: #fcfcfc0a;
  --buttonhover: #01b3ff;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-thumb {
  width: 0.3em;
  border-radius: 20px;
  background-color: var(--maincolor);
}

section {
  padding: 50px 80px 0px 80px;
}

.hamburger-menu {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  z-index: 101;
  position: relative;
  display: none;
  align-items: center;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: var(--size);
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

.hamburger-menu.active .hamburger {
  background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
  background-color: var(--maincolor);
}

.hamburger-menu.active .hamburger::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
}

/*
  ==============================================================------ header section -----==========================================
*/
header {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  background-color: #000000;
}
header .navigation {
  margin-right: -15rem;
}
/* ==============================================================------ theme-switcher section -----========================================== */

.theme-switch {
  --toggle-size: 15px;
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  --container-light-bg: #3d7eae;
  --container-night-bg: #1d1f2c;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ecca2f;
  --moon-bg: #c4c9d1;
  --spot-color: #959db1;
  --circle-container-offset: calc(
    (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
  );
  --stars-color: #fff;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;
  --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

/* Dark Mode */
[data-theme="light"] {
  --text-color: #e66a6a;
  --bgcolor2: #e97b7bc9;
  --bgcolor: #ffd1d1;
  --bgcolor2: #050505;
  --seccolor: #5a5c5b;
  --maincolor: #f75c5c;
  --second: #010101;
  --third: #9f0707;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --bganimation: rgb(255, 222, 222);
  --bgback: rgba(251, 127, 127, 0.474);
  --bgback12: rgba(255, 136, 136, 0.368);
  --hover: rgba(255, 255, 255, 0.708);
  --skillsec: #ff9e9e67;
  --buttonhover: #ff2828;
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25),
    0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset,
    0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    inset 0 0 0 3.375em rgba(255, 255, 255, 0.1),
    0 0 0 0.625em rgba(255, 255, 255, 0.1),
    0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
      inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25))
    drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61)
      inset,
    0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset,
    0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color),
    -0.312em -0.312em var(--back-clouds-color),
    1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color),
    2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color),
    2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color),
    3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color),
    4.5em -0.312em var(--clouds-color),
    3.375em -0.437em var(--back-clouds-color),
    4.625em -1.75em 0 0.437em var(--clouds-color),
    4em -0.625em var(--back-clouds-color),
    4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter)
  );
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__circle-container:hover {
  left: calc(
    100% - var(--circle-container-offset) - var(--circle-container-diameter) -
      0.187em
  );
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked
  + .theme-switch__container
  .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* -------------------------------------- */

header.sticky {
  padding: 5px 50px;
  color: black;
  background-color: rgb(255, 255, 255);
}
header.sticky .navigation a {
  color: black;
}
header.sticky .navigation a:hover {
  color: var(--maincolor);
}

header .brand {
  color: var(--maincolor);
  font-size: 2.3em;
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
header .brand span {
  color: rgb(149, 149, 149);
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

header .navigation {
  position: relative;
}

header .navigation a {
  color: var(--text-color);
  font-size: 1.3em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
}

header .navigation a::before {
  content: "";
  width: 0px;
  height: 0px;
  background: var(--maincolor);
  position: absolute;
  bottom: -3px;
  transition: 0.8s;
}

header .navigation a:hover::before {
  content: "";
  width: 40px;
  height: 4px;
}

header .navigation a.active {
  color: var(--maincolor) !important;
  border-bottom: 3px solid var(--text-color);
}

body {
  min-height: 110vh;
  background: #000000f4;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h2 {
  position: relative;
  color: var(--maincolor);
  font-size: 3.5em;
  width: 90%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 60px;
  border-bottom: 3px solid var(--text-color);
}

.title h2 span {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/*
   ====================================================------  main section -------===================================================
*/

.bgAnimation {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: var(--bganimation);
  filter: saturate(2);
  overflow: hidden;
  z-index: -2000;
  border-radius: 200% 30% 80% 10%;
}
.colorBox {
  z-index: 3;
  filter: brightness(1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  border-radius: 30%;
  background: var(--bganimation);
}
.colorBox:hover {
  background: var(--bgback);
  transition-duration: 0s;
}
.backgroungAn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background: var(--bgback12);
  filter: blur(60px);
  animation: anim 6s linear infinite;
}
@keyframes anim {
  0% {
    top: -150px;
  }

  100% {
    top: 100%;
  }
}
.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  z-index: 10000;
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: var(--text-color);
  font-size: 2em;
  font-weight: 400;
}

.main .content strong {
  font-size: 1.8em;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 1em;
}

b {
  color: var(--maincolor);
  font-family: "Fredoka One", cursive;
}

.main .content h2 span {
  font-size: 2.8em;
  font-family: "Fredoka One", cursive;
  background: linear-gradient(
    270deg,
    #df8908 10%,
    rgb(227, 45, 76) 60%,
    #b415ff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}

.animated-text h3 {
  color: var(--maincolor);
  font-size: 2.4em;
  font-weight: 100;
  font-family: "Fredoka One", cursive;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }

  25% {
    margin-top: -70px;
  }

  50% {
    margin-top: -140px;
  }

  75% {
    margin-top: -200px;
  }

  100% {
    margin-top: 0;
  }
}

.btn {
  text-decoration: none;
}
.cta {
  display: flex;
  padding: 8px 23px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 rgb(172, 171, 171);
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }
}

/* --------------------------------------------------------------------------------------------------------------------------- */

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-left: -25rem;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

/*
  =======================================================------ About section ------===============================================
*/

.about .content {
  position: relative;
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 900px;
  margin-right: 9rem;
}

.about .content .col-right {
  position: relative;
  width: 100%;
}

.about .content .about-info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about .content .about-info h4 {
  padding-right: 0.5rem;
}

.about .content .about-info .about-info-left div,
.about .content .about-info .about-info-right div {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #666;
  width: 350px;
}

.about .content .col-left .img-card img {
  object-fit: cover;
  border-radius: 10px;
  width: 20vw;
  height: 45vh;
}

.about .content .col-right .content-title {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 20px;
}

.about .content .col-right .paragraph-text {
  font-size: 1em;
}
.about .content .col-right .paragraph-text a {
  font-size: 1em;
  color: var(--maincolor);
}
/* =========++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++   */

.card {
  width: 440px;
  height: 440px;
  background: white;
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #f6f6f643 5px 50px 50px -20px;
  transition: all 0.5s ease-in-out;
}

.card .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.card .mail svg {
  stroke: #0299fd;
  stroke-width: 4px;
}

.card .mail svg:hover {
  stroke: #01548cdf;
  cursor: pointer;
}

.card .profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 5px solid #0299fd;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: #0299fd;
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
  margin-top: -15rem;
  display: flex;
  flex-direction: column;
}

.card .bottom .content .name {
  display: block;
  margin-top: -10rem;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.card .bottom .content .about-me {
  display: block;
  height: 260px;
  width: 350px;
  margin-top: -40rem;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.card .bottom .bottom-bottom .social-links-container svg {
  height: 25px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
  cursor: pointer;
}

.card .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #f55d56;
  transform: scale(1.4);
}

.card .bottom .bottom-bottom .button {
  background: white;
  color: #000000;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.card .bottom .bottom-bottom .button:hover {
  background: #f55d56;
  color: white;
  cursor: pointer;
}

.card:hover {
  border-top-left-radius: 55px;
}

.card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #0299fd;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}

/* <!-- =====================================================------ Qualification Section work ex -------=================================== --> */

.timeline {
  background: #17171b;
  margin-bottom: 2rem !important;
  margin: 0 auto;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 60%;
  position: relative;
  padding: 3rem 5rem;
}

.timeline .timeline_item {
  background: #17171b;
  border-left: 2px solid var(--maincolor);
  position: relative;
  padding: 0rem 0rem 1rem 2rem;
  padding-bottom: 1rem;
}

.timeline .timeline_item::after {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  display: block;
  top: 1.5rem;
  position: absolute;
  left: -9px;
  content: "";
  border: 2px solid var(--maincolor);
  background: var(--maincolor);
}

.timeline .timeline_item h1 {
  color: var(--maincolor);
  font-size: 1.5rem;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  padding-top: 15px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  font-family: "Oswald", sans-serif;
}

.timeline .timeline_item p {
  font-size: 16px;
  color: var(--text-color);
  background: #17171b;
  padding: 0.3rem 0rem;
  font-family: "Oswald", sans-serif;
}

.timeline .timeline_item h3 {
  color: var(--text-color);
  font-weight: 400;
  padding: 0.3rem 0rem;
}
.timeline a {
  color: var(--maincolor);
  transition: all 0.5s ease-out;
}

.quali {
  background: #17171b;
  margin: 0 auto;
  padding-bottom: 7px;
  border-radius: 10px;
  width: 50%;
  position: relative;
  padding: 2rem 3rem;
  margin-left: 2rem;
}

.quali .item {
  border-left: 2px solid var(--maincolor);
  position: relative;
  padding: 0rem 0rem 0.5rem 1rem;
  padding-bottom: 0.4rem;
}

.quali .item::after {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  display: block;
  top: 1.5rem;
  position: absolute;
  left: -9px;
  content: "";
  border: 2px solid var(--maincolor);
  background: var(--maincolor);
}

.quali .item h1 {
  color: var(--maincolor);
  font-size: 1.5rem;
  font-weight: lighter;
  padding-bottom: 0.5rem;
  padding-top: 15px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  font-family: "Oswald", sans-serif;
}

.quali .item p {
  font-size: 16px;
  color: var(--text-color);
  padding: 0.3rem 0rem;
  font-family: "Oswald", sans-serif;
}

.quali .item h3 {
  color: var(--maincolor);
  font-weight: 400;
  padding: 0.3rem 0rem;
}

.quali .item .year {
  font-size: 17px;
  color: rgb(0, 255, 153);
  padding-bottom: 0rem;
  letter-spacing: 0.03em;
}

/* ==================================================------ Skills Section ------================================================== */

.skills .content {
  position: relative;
  width: 100%;
  color: var(--text-color);
}

.skills .content .skill {
  margin: 0 auto;
  padding: 0rem 1rem;
}

.skills .skill .skill-sec {
  margin: 0.5rem 0rem;
  padding: 0.2rem;
  border-radius: 20px;
  background: var(--skillsec);
  height: 170px;
}

.skills .skill .skill-sec .skill-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0rem 0rem 0rem;
  justify-content: center;
}

.skills .skill .skill-sec .skill-list img {
  width: 4rem;
  margin: 1rem 2rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.skills .skill .skill-sec .skill-list img:hover {
  transform: scale(1.2);
}

.skills .skill .skill-sec h1 {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  letter-spacing: 2px;
  font-size: 1.8rem;
}

.skills .skill .skill-sec h1 i {
  margin-right: 1rem;
}

/* <!-- =======================================================-----   Work Section ----============================================== --> */

.work .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0em;
  list-style: none;
}

.work .controls .buttons {
  margin: 1rem 1.2rem;
  padding: 0 0.4em;
  font-family: "Fredoka One", cursive;
  color: var(--text-color);
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

.work .controls .buttons.button-active,
.work .controls .buttons:hover {
  color: var(--buttonhover);
  transition: 1s ease;
  border-color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
}

.work .image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  padding-bottom: 2rem;
}

.work .image-container .image {
  width: 320px;
  position: relative;
  margin: 2rem 1rem;
  display: block;
  align-items: flex-end;
  height: 13rem;
}

.work .image-container .image img {
  width: 100%;
  position: relative;
  object-fit: cover;
  transition: 0.8s ease;
  height: 13rem;
  border-radius: 20px;
}

.content .card h3 {
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin: 0.5em;
}
.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.image .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--maincolor);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.image .hover-items h3 {
  font-size: 1.4rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
  text-align: center;
}
.image .hover-items p {
  color: var(--box-bg);
  text-align: center;
  margin-bottom: 1rem;
}

.image .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image .hover-items .icons .icon {
  background-color: var(--body-bg);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
.image .hover-items .icons .icon i {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0 1rem;
}
.image .hover-items .icons .icon:hover {
  background-color: var(--text-color);
}
.image .hover-items .icons .icon:hover i {
  color: var(--bgcolor);
}

.image:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

/* =================================================------- Contact Section  ------=============================================== */

.contact {
  display: flex;
  padding-top: 3.5rem;
}
.contact-container {
  margin: 0 8rem 1rem 8rem;
}
.contact .left-contact {
  flex: 2;
}
.contact .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--bgcolor2);
}
.contact .left-contact span {
  color: var(--bgcolor2);
}

.contact .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
  color: var(--bgcolor2);
}
.contact .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--maincolor);
}
.contact .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
}
.contact .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--maincolor);
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact .left-contact .contact-icon a:hover {
  background-color: var(--maincolor);
}
.contact .left-contact .contact-icon a:hover i {
  color: var(--bgcolor);
}
.contact .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.contact .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact .right-contact .input-control input,
.contact .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--seccolor);
  width: 100%;
  color: rgb(255, 255, 255);
  resize: none;
}
.contact .right-contact .i-c-2 {
  display: flex;
}
.contact .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}

/* ===========================================================------- Scroll button -----====================================== */
.scrollToTop-btn {
  z-index: 999;
  position: fixed;
  color: var(--text-color);
  right: 0;
  bottom: 15px;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
}

.scrollToTop-btn i {
  font-size: 1.8rem;
  background: var(--maincolor);
  padding: 0.6rem 1rem;
  border-radius: 50%;
  color: var(--bgcolor);
}
.scrollToTop-btn i:hover {
  background-color: var(--maincolor);
}
.scrollToTop-btn:hover {
  bottom: 20px;
  color: var(--bgcolor);
}
.scrollToTop-btn.active {
  right: 20px;
  opacity: 1;
  pointer-events: auto;
}
.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.5s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* ========================================================------ Footer Section ------============================================ */
.footer {
  background: var(--bgcolor);
  color: var(--bgcolor2);
  padding: 2em;
  margin-top: 5rem;
}
.footer .policy {
  text-align: center;
  width: 100%;
  font-weight: 700;

}
.terms {
  justify-content: right;
  color: #5a5c5b;
  margin: 1em 4em -1em 0em;
  text-align: right;
}
